body {
  font-size: 16px;
  color: #fff;
  background-color: rgb(0, 250, 250);
  font-family: 'Oxygen', sans-serif;
}
* {
  box-sizing: border-box;
}

h1 {
  font-size: 24px;
  text-align: center;
  font-weight: bold;
  color: rgb(0, 0, 0);
  margin-bottom: 30px;
}

p {
  padding: 15px 25px 0px 25px;
  font-family: Georgia sans-serif;
  font-size: 16px;
  position: relative;
  color: rgb(0, 0, 0);
}

.section { 
  background-color: rgb(100, 100, 100);
    border: 2px solid black;
    margin-top: 20px; 
    margin-left: 30px;
    margin-right: 0px; 
    padding: 3px;
    text-align: justify;
    position: relative;
 }

span {
  font-size: 20px;
  width: 100%;
  font-weight: bold;
  text-align: center;
}

#nr1  {
  color: rgb(0, 0, 0);
  width: 100%;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}
#nr2 {
  color: rgb(0, 0, 0);
  width: 100%;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}
#nr3 {
  color: rgb(0, 0, 0);
  width: 100%;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.row {
  width: 100%;
}
/* HEADER */
#header-nav {
  background-color: rgb(250,250,250);
  border-radius: 0;
  border: 0;
  overflow: hidden;
}

.navbar-brand {
  padding-top: 20px;
  padding-bottom: 20px;
}
.navbar-brand h1 { /* Company's name */
  font-family: 'Lora', serif; 
  color: rgb(0,0,0);
  font-size: 1.8em;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 20px;
  line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}
.navbar-brand h2 { /* Our Menu */
  color: #000;
  font-weight: bold;
  font-size: .7em;
  text-align: center;
  margin-top: 15px;
}

#nav-list {  /* #nav-list is the <ul> under the navbar section */
  margin-top: 10px;
}
#nav-list a { /* this is for link/glyphicon color and aligning to center */
  color: rgb(0,0,0);
  font-weight: bold;
  text-align: center;
  border: 1px solid black;
  background-color: rgb(200,200,200);
}
#nav-list a:hover { /* this is for changing mouse pointer when it goes over glyphicon */
  background: #E7E7E7;
}
#nav-list a span { /* for font options of navigation list elements */
  font-size: 1.2em;
}

p .text-center {
  margin-top: 30px;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid rgb(15,200,90);
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px; /* This is for 'Computers' message to be in the top part, to override 'float' collapsing feature */
}
/* END HEADER */

@media (min-width: 1200px) {
#header-nav {
  height: 70px;
}
.navbar-brand {
    padding-top: 10px;
    height: 70px;
    border-bottom: 20px;
    } 
}
@media (min-width: 992px) and (max-width: 1199px) {
#header-nav {
    padding-top: 10px;
    height: 70px; 
    }  
}
@media (min-width: 768px) and (max-width: 991px) {
  #header-nav {
    padding-top: 10px;
    height: 70px; 
    }
  }
  }
/********** Extra small devices only **********/

@media (max-width: 767px) {
  /* Header */
  .navbar-brand {
    padding-top: 10px;
    height: 70px;
  }

  .navbar-brand h1 { /* Company's name */
    padding-top: 10px;
  }

  #collapsable-nav a { /* Collapsed nav menu text */
    font-size: 1.2em;
  }
}
/* End Header */
