  h1 {
    font-size: 24px;
    text-align: center;
    font-weight: bold;
    color: rgb(0, 0, 0);
    margin-bottom: 30px;
  }
  

  .section { 
    background-color: rgb(100, 100, 100);
      border: 2px solid black;
      margin-top: 20px; 
      margin-left: 30px;
      margin-right: 0px; 
      padding: 3px;
      text-align: justify;
      position: relative;
   }
  
  span {
    font-size: 20px;
    width: 100%;
    font-weight: bold;
    text-align: center;
  }
  
  #nr1  {
    color: rgb(0, 0, 0);
    width: 100%;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
